@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
#__next {
  overflow: hidden;
} */

@layer base {
  ::selection {
    @apply bg-amber-400 text-black;
  }

  :root {
    color-scheme: dark only;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 60.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 88% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 0%;
    --foreground: 213 31% 91%;

    --muted: 223 17% 45%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 78% 51%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply border-l pl-6 border-link;
}

h1 {
  @apply mt-20 mb-8;
  font-size: 220%;
  line-height: 1.35;
  font-style: normal;
}

h2 {
  @apply mt-14 mb-6;
  font-weight: normal;
  font-size: 180%;
}

h3 {
  @apply mt-8 mb-4;
  font-weight: normal;
  font-size: 150%;
}

h4 {
  font-weight: normal;
  font-size: 130%;
  margin: 1.5em 0 0.8em;
}

h5 {
  font-weight: normal;
  font-size: 120%;
  margin: 1.5em 0 0.8em;
}

h6 {
  font-size: 100%;
  margin: 1.5em 0 0.8em;
}

p {
  @apply mt-4;
}

ol,
ul {
  @apply ml-4;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li {
  @apply mt-2;
}

ul > li {
  @apply list-none;
}

ul > li:before {
  content: "·    ";
  font-size: 1.5em;
  transform: translate(-0.7em, -0.3em);
  position: absolute;
}

@layer base {
  * {
    @apply border-border;
  }

  *[disabled] {
    @apply cursor-not-allowed;
  }

  body {
    @apply bg-background text-foreground underline-offset-2;
    font-size: 16px;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  label {
    @apply text-xs;
  }

  a {
    @apply dark:text-link dark:hover:text-link-hover transition-colors hover:underline;
  }

  hr {
    @apply my-12;
  }

  /* CUSTOM CLASSES */
  .content {
    @apply mx-auto;
    max-width: 800px;
  }

  /* ANIMATIONS */
  /** the following code is from https://codepen.io/thetallweeks/pen/yybGra **/
  .loading-ellipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    margin-right: 1.25em;
  }

  .toast-styles a {
    @apply text-white underline hover:text-white;
  }

  @keyframes ellipsis {
    to {
      width: 1.25em;
      margin-right: 0;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
      margin-right: 0;
    }
  }
}

.landing-page-star-fade {
  background: radial-gradient(
    circle at 50% 25%,
    rgba(0, 0, 0, 0.1) 0%,
    rgb(0, 0, 0, 1) 60%
  );
}

.default-star-fade {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.92) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
